:root {
    font-family: Nunito, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: #FFFFFF !important;

    background: linear-gradient(90deg, #1C325C 0%, #172E55 52%, #162D54 79.5%, #162D54 100%);
    /*min-height: 100vh;*/
    display: flex;
    justify-content: center;
    align-items: center;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/*a {*/
/*    font-weight: 500;*/
/*    color: #646cff;*/
/*    text-decoration: inherit;*/
/*}*/

/*a:hover {*/
/*    color: #535bf2;*/
/*}*/

body {
    width: 100%;
    /*max-width: 453px;*/
    min-height: 100vh;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    padding: 0;
    margin: 0;
    overflow: hidden;
}

/*h1 {*/
/*    font-size: 3.2em;*/
/*    line-height: 1.1;*/
/*}*/

button {
    /*border-radius: 8px;*/
    /*border: 1px solid transparent;*/
    /*padding: 0.6em 1.2em;*/
    /*font-size: 1em;*/
    /*font-weight: 500;*/
    /*font-family: inherit;*/
    /*background-color: transparent;*/
    border: none;
    outline: none;
    /*cursor: pointer;*/
    /*transition: border-color 0.25s;*/
}

/*button:hover {*/
/*    border-color: #646cff;*/
/*}*/

/*button:focus,*/
/*button:focus-visible {*/
/*    outline: 4px auto -webkit-focus-ring-color;*/
/*}*/
@media (min-width: 1024px) {
    body {
        max-width: 453px;
        min-height: 100vh;
    }
}

@media (min-width: 1513px) {
    body {
        max-width: 85%;
        min-height: 100vh;
    }
}

@media (min-width: 2000px) {
    body {
        max-width: 80%;
        min-height: 100vh;
    }
}

@media (min-width: 2700px) {
    body {
        max-width: 70%;
        min-height: 100vh;
    }
}

@media (min-width: 3400px) {
    body {
        max-width: 60%;
        min-height: 100vh;
    }
}

@media (min-width: 4100px) {
    body {
        max-width: 50%;
        min-height: 100vh;
    }
}

@media (min-width: 4800px) {
    body {
        max-width: 40%;
        min-height: 100vh;
    }
}

@media (min-width: 5500px) {
    body {
        max-width: 30%;
        min-height: 100vh;
    }
}
